:root {
    --drums: lightblue;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    height: 580px;
}

button {
    padding: 20px;
    width: 100px;
    height: 100px;
    background: var(--drums);
    border: 1px solid #333;
    color: white;
    
}

